:root{
    --font-color: #ffffff;
    --shadow-color: #d6dced;
    --main-color: #89ac5b; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--main-color);
    
    color: var(--font-color);
    font-family: serif;  
    font-weight: 400; 
    font-style: normal;
}

.container{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{  
    font-size: 24px; 
    text-shadow: 2px 2px 5px  var(--shadow-color);
    margin:  3rem 0 1.5rem 0;
}

input{
    outline: none;
    border-width: 0 ;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: var(--font-color);
    margin-bottom: 0.2rem;
    padding: 0.3rem 0 0.3rem 0; 
    color:var(--font-color);
    font-size: 18px;
    background-color: var(--main-color);  

}

#errorMesg{
    padding: 0 0 1rem 0;
    
    color: var(--font-color);
    font-family: serif; 
    font-style: normal;
    font-size: 16px;
    transition: ease-in-out;
}
button{
    outline: none;
    border: 0;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    padding: 0.3rem; 
    color:var(--main-color);
    font-size: 16px;
    background-color: var(--font-color); 
    box-shadow: 1px 1px 5px #d6dced;
    cursor: pointer;
}

#output-contant{
    padding: 5rem;
    margin: 2rem 0 0 0;
    border-radius: 50%;
    background-color: var(--font-color);
    box-shadow:  -1px -1px 5px 5px var(--font-color), 
                    -1px 1px 5px 5px var(--font-color);
}

#answer{ 
    color: var(--main-color);
    text-transform: capitalize; 

}

.shakeAns{
    animation: shake 1s cubic-bezier(0.075, 0.82, 0.165, 1) both;
    transform: translate3d(0, 0, 0); 
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% { 
        transform: translate3d(-1px, 0, 0); 
    } 
    20%, 80%{
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70%{
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60%{
        transform: translate3d(4px, 0, 0);
    }

}